<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Fight Night! </title>
    <script src="https://use.fontawesome.com/7ad418d947.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <div class="poster-wrap flex">

    <h2> 47 EXCITING ROUNDS OF <br />
         CHAMPIONSHIP BOXING!
    </h2>

    <div class="dateBreak">
        <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
          <span class= "date"> 28 MAY 2018</span>
        <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
    </div>


  </div>




    <script src="/js/script.js"></script>
  </body>
</html>
