body {
  width: 98%;
  margin: 0 auto;
  background-color: #D9AC7A;
}

h1 {
  font-size: 45px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #DE0000;
}

p {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.poster-wrap {
  background-color: #DCCC3C;
  border: 2px solid black;
  height: 98%;
  margin: 30px;
}

.dateBreak {
  text-align: center;
  color: #fff;
  background-color: #DE0000;
  font-size: 30px;
  padding: 3px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.boxerImg {
  height: 400px;

}

.boxerNames-flex {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  background-color: #DE0000;
  border-top: 2px solid black;
}

.name {
  color: #fff;
}

.boxer1 {
  margin-left: 55px;
}

.vs {
  margin-top: 35px;
  border-radius: 50%;
  border-style: solid;
  border-color: #000;
  background-color: #D9AC7A;
  font-size: 25px;
  color: #000;
  vertical-align: middle;
  width: 140px;
  height: 140px;
  line-height: 2;
}

.boxer2 {
  margin-right: 55px;
}

span {
  text-decoration: underline;
}

.bottomPoster {
  height: 200px;
}
